.admin-panel {
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.ad-head {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.ad-head > h2 {
    font-family: "Raleway";
}

.ad-body {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.ad-body > button {
    margin-right: 20px;
}

.ad-body > button:last-child {
    margin-right: 0px;
}

.form-news {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, max-height 0.5s;
    max-height: 0px;
}

.form-news.visible {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
}
