body, html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-Regular.ttf);
}

hr {
    height: 1px;
    background-color: black;
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.navbar {
    background-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.btn-custom {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    font-size: 30px !important;
    font-family: "Raleway";
}

.btn-custom:hover {
    color: white !important;
    background-color: black !important;
    transition: 0.3s;
}

header {
    background-color: white;
    color: black;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Raleway';
    margin-right: 68px;
}

nav li:last-child {
    margin-right: 0;
}

.underline-link {
    position: relative;
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
}

.underline-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: visible;
    transition: width 0.5s;
}

.underline-link:hover::before {
    width: 100%;
    visibility: visible;
}

.parallax-container {
    position: relative;
}

.parallax {
    height: 550px;
    background-image: url("../img/img4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
    padding: 10px;
    border: 1px solid white;
    background: #13121291;
}

.text-container > h1 {
    font-family: "DejaVu Sans";
    font-size: 45px;
    color: white;
}

.text-container > p {
    font-family: "DejaVu Sans";
    font-size: 20px;
    color: white;
}

.head {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.head > h1 {
    font-family: "Raleway";
    font-size: 40px;
    font-weight: normal;
}

.margin-left-220 {
    margin-left: 220px;
}

.col-lg-4 {
    padding-left: 50px;
    padding-right: 50px;
}

.news-card {
    width: 402px;
    height: 585px;
    margin: 0 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all ease-in 0.3s;
    transform: scale(1);
}

.news-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
    cursor: pointer;
}

.news-img img {
    max-width: 100%;
    height: auto;
}

.news-spec {
    margin-top: 15px;
    height: 33px;
    font-size: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    font-family: "Raleway";
}

#event {
    width: 164px;
    background-color: #5cc85c;
}

#main {
    width: 91px;
    background-color: red;
}

#date {
    width: 71px;
    background-color: #0babe4;
}

#common {
    width: 119px;
    background-color: #ffa749;
}

.teacher-spec {
    width: 210px;
    height: 33px;
    font-size: 20px;
    color: white;
    margin: 20px 0px 0px 17px;
    text-align: center;
    border-radius: 20px;
    background-color: red;
    font-family: "Raleway";
}

.card {
    transition: all ease-in 0.3s;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.circle {
    display: inline-block;
    margin-top: 24px;
    margin-left: 27px;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.news-info {
    display: flex;
    flex-direction: row;
}

.news-text {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    font-size: 18px;
    font-family: "Raleway";
}

.news-info span:first-child {
    font-weight: bold;
}

.footer {
    height: 500px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 700px !important;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-family: Verdana;
    font-size: 40px;
    border: none !important;
}

.modal-img {
    width: 360px;
    cursor: pointer;
}

.modal-img img {
    max-width: 100%;
    height: auto;
}

.modal-content > form {
    margin-top: 50px;
}

.modal-content > form label{
    font-family: Verdana;
    font-size: 20px;
}

.modal-content > form input{
    width: 500px;
    height: 50px;
    background-color: #F2F2F2;
    border: none;
    font-size: 20px;
    padding-left: 10px;
}

.modal-content > form input:last-child {
    font-size: 24px;
    background-color: #423E3E;
    color: white;
}

.btn-enter:link,
.btn-enter:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn-enter:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-enter:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-enter::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

input[type=text],
input[type=password] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type=text]:focus,
input[type=password]:focus {
    border-color: black;
    box-shadow: 0 0 8px black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.avatar {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

.wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 15px;
    padding: 30px;
    margin-top: 100px;
}

.search-container {
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-link {
    margin-right: 20px;
    margin-bottom: 20px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.2s;
}

.lib-head {
    margin-top: 40px;
    display: flex;
    justify-content: left;
}

.lib-head > h2 {
    font-family: "Raleway";
}

.eye-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url('../img/eye.png');
    background-repeat: no-repeat;
    transition: background-image 0.2s;
}

.load-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url('../img/downloads.png');
    background-repeat: no-repeat;
    transition: background-image 0.2s;
}

.load-container:hover {
    background-image: url('../img/downloads-black.png');
    cursor: pointer;
}

.rounded-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: lightgrey;
    border: 1px solid white;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    padding: 0;
    margin-top: 4px;
    margin-left: -32px;
    opacity: 0;
    transform: translateY(-10px);
    background-color: white;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.dropdown-content > div {
    height: 40px;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
}

.dropdown-content > hr {
    margin: 0 8px !important;
}

.dropdown-content div:hover {
    background-color: #f2f2f2;
}

.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

#filter-bar {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.genre-btn {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-right: 50px;
  border-bottom-width: 3.25px;
  border-bottom-style: solid;
  border-right-width: 3.25px;
  border-right-style: solid;
}

.none-news-container {
    text-align: center;
    margin-top: 175px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    display: table;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

file_input_textbox {height:25px; width:200px; float:left; }
.file_input_div {position: relative; width:80px; height:26px; overflow: hidden; }
.file_input_button {width: 80px; position:absolute; top:0px; border:1px solid #F0F0EE;padding:2px 8px 2px 8px; font-weight:bold; height:25px; margin:0px; margin-right:5px; }
.file_input_button_hover{width:80px;position:absolute;top:0px; border:1px solid #0A246A; background-color:#B2BBD0;padding:2px 8px 2px 8px; height:25px; margin:0px; font-weight:bold; margin-right:5px; }
.file_input_hidden {font-size:45px;position:absolute;right:0px;top:0px;cursor:pointer; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -khtml-opacity:0; -moz-opacity:0; }

#upload-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'Segoe UI';
    color: #1f3c44;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}