{% extends "layout.html" %}

{% block content %}
    <div class="parallax-container">
    <div class="parallax">
        <div class="text-container">
            <h1>Кафедра 732</h1>
            <p style="margin-bottom: 0; margin-top: 20px;">Сайт кафедры 732</p>
            <p>Академии МИРЭА России</p>
        </div>
    </div>
</div>

<div class="head" id="news-scroll">
    <h1>Новости кафедры</h1>
</div>

<hr />

<div class="container" style="margin-bottom: 30px; margin-top: 50px;">
    <div class="row d-flex justify-content-center">
        <a href="/important_news" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #cc0b0b;">
            Важное
            </button>
        </a>
        <a href="/event_news" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #42ac06;">
            Мероприятия
            </button>
        </a>
        <a href="/data_news" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #0914bb;">
            Дата
            </button>
        </a>
        <a href="/" class="search-link">
            <button class="btn btn-outline-dark btn-lg">
                Все новости
            </button>
        </a>
        <a href="/other_news">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #b1ae00;">
                Обычное
            </button>
        </a>
    </div>
</div>

<div class="container">
    <form action="/news-search" method="get">
        <div class="form-group">
            <input name="text" type="text" class="form-control col-form-label-lg" placeholder="Найти.." style="padding-right: 30px;" id="searchInput">

        </div>
    </form>
</div>

{% if not if_news %}
<div class="none-news-container">
  Новостей пока нет
</div>
{% endif %}
<div class="container custom-container" style="margin-top: 50px;">
    <div class="row mx-auto" id="allNewsView">
        {% for i in news %}
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4" style="margin-top: 20px;">
            <div class="card" style="width: 20rem; height: 500px">
                <img src="/app/static/img/news/{{ i.url_photo }}" class="card-img-top" style="height: 220px;">
                {% if i.genre == "Важное" %}
                    <div class="news-spec" id="main">
                        {{ i.genre }}
                    </div>
                {% endif %}
                {% if i.genre == "Мероприятие" %}
                    <div class="news-spec" id="event">
                        {{ i.genre }}
                    </div>
                {% endif %}
                {% if i.genre == "Дата" %}
                    <div class="news-spec" id="date">
                        {{ i.genre }}
                    </div>
                {% endif %}
                {% if i.genre == "Обычное" %}
                    <div class="news-spec" id="common">
                        {{ i.genre }}
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        {{ i.title[:45] }}...  
                    </h5>
                    <p class="card-text">{{ i.description[:70] }}...</p>
                </div>
                <div class="card-body">
                    <a href="/news/about/{{ i.id }}" class="card-link">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
<div class="container d-flex justify-content-center align-items-center" style="margin-top: 30px;">
    <button id="prevPage" class="btn btn-outline-dark">Предыдущая страница</button>
    <span id="currentPage" style="display: inline-block; padding: 15px;"></span>
    <button id="nextPage" class="btn btn-outline-dark">Следующая страница</button>
</div>


<script>
    const itemsPerPage = 6; // Number of items to show per page
    let currentPage = 1;
    let count_of_news = Number('{{ if_news }}');

    function showItems(page) {
        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        for (let i = 0; i < count_of_news; i++) {
            if (i >= startIndex && i < endIndex) {
                document.getElementsByClassName('col-lg-4')[i].style.display = 'block';
            } else {
                document.getElementsByClassName('col-lg-4')[i].style.display = 'none';
            }
        }
    }

    function updatePagination() {
        let pagesTotal = Math.ceil(count_of_news / itemsPerPage)
        if (pagesTotal === 0) {
            pagesTotal = 1;
        }
        document.getElementById('currentPage').textContent = `Страница ${currentPage} / ${pagesTotal}`;
    }

    // Initial rendering
    showItems(currentPage);
    updatePagination();

    // Event listeners for previous and next buttons
    document.getElementById('prevPage').addEventListener('click', function () {
        if (currentPage > 1) {
            currentPage--;
            showItems(currentPage);
            updatePagination();
        }
    });

    document.getElementById('nextPage').addEventListener('click', function () {
        const maxPage = Math.ceil(count_of_news / itemsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            showItems(currentPage);
            updatePagination();
        }
    });
</script>
</div>
{% endblock %}