<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/indexStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dnd.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/library.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/admin_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dropzone.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', path='img/star.ico') }}" type="image/x-icon">

    <script src="{{ url_for('static', path='js/dropzone.min.js')}}"></script>
    <script src="{{ url_for('static', path='js/AdminPanes.js')}}"></script>
    <script src="{{ url_for('static', path='js/OpenAuthModal.js') }}"></script>
    <script src="{{ url_for('static', path='js/fetchUser.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', path='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="{{ url_for('static', path='img/newsoche.png') }}" alt="Logo" class="navbar-logo" style="height: 91px; width: 66px;">
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 60px;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link underline-link" href="/">Главная</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-link" href="/prepods">Преподаватели</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link underline-link" onclick="scrollToElement()" style="cursor: pointer;">Новости</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link underline-link" href="/lib">Библиотека</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-link" href="/admin" style="display:none;" id="adminPanel">Администрирование</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 20px;">
                        <button type="button" class="btn btn-custom rounded-pill" id="loginButton" onclick="openModal()">Войти</button>
                    </li>
                </ul>
                <ul id="iflogin" class="navbar-nav ml-auto" style="display: none;">
                    <li class="nav-item" style="margin-right: 20px;">
                        <img id="user_avka" class="rounded-circle dropdown" onclick="toggleDropdown()" style="width: 90px; height: 90px;">
                            <div class="dropdown-content">
                                <div>
                                    <span id="loginingUsername"></span>
                                </div>
                                <hr />
                                <div onclick="openModalImg()">
                                    Изменить аватар
                                </div>
                                <div style="color: red;" id="unloginButton" onclick="unlogin()">
                                    Выйти
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <div id="loginModal" class="modal">
                <div class="modal-content">
                    <span class="close-button" onclick="closeModal()">&times;</span>
                    <div class="modal-header">Войти с помощью</div>
                    <div class="modal-img">
                        <a href="/auth">
                            <img src="{{ url_for('static', path='img/git.png') }}" />
                        </a>
                    </div>
                    <form method="post" action="/token">
                        <label for="username">Имя пользователя</label><br>
                        <input type="text" id="username" name="username" required><br><br>
                        <label for="password">Пароль</label><br>
                        <input type="password" id="password" name="password" required><br><br>
                        <input type="submit" value="Войти" class="btn-enter">
                    </form>
                    <form action="/link-register">
                        <input type="submit" value="Зарегистрироваться" class="btn-enter">
                    </form>
                </div>
            </div>
            <div id="loginModalImg" class="modal">
                <div class="modal-content">
                    <span class="close-button" onclick="closeModalImg()">&times;</span>
                    <div class="modal-header">Изменения аватара</div>
                    <div class="form-group">
                        <form action="/change-avatar" method="post" enctype="multipart/form-data" id="upload-container">
                            <label for="inputAddress">Изображение</label>
                            <img id="upload-image" src="{{ url_for('static', path='img/upload.svg') }}">
                              <div>
                                   <input id="file-input" type="file" name="file">
                                   <label for="file-input">Выберите файл</label>
                                   <span>или перетащите его сюда</span>
                              </div>
                            <input type="text" name="token" style="display: none;" id="avatar_token" required>
                            <!--<input type="submit" value="Загрузить" class="btn-enter"> -->
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    <script type="text/javascript">
        const token = localStorage.getItem('token');
        document.getElementById('avatar_token').value = token;
        if (token != null) {
            const nickname = fetchUser();
            document.getElementById("loginButton").style.display = "none";
            document.getElementById("iflogin").style.display = "inline";
        } else {
            console.log("Not registered");
        }
    </script>
    </header>

{% block content %}{% endblock %}

<footer>
    <ul class="social">
        <a href="/"><img src="{{ url_for('static', path='img/star.ico') }}" style="height: 100px; margin-bottom: 10px;"></a>
    </ul>
    <ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/prepods">Преподаватели</a></li>
        <li><a href="/">Новости</a></li>
        <li><a href="/lib">Библиотека</a></li>
    </ul>
    <p>©2023 Кафедра 732 | Все права защищены</p>
</footer>
<script type="text/javascript">
$(document).ready(function(){
    var dropZone = $('#upload-container');

    $('#file-input').focus(function() {
        $('label').addClass('focus');
    })
    .focusout(function() {
        $('label').removeClass('focus');
    });


    dropZone.on('drag dragstart dragend dragover dragenter dragleave drop', function(){
        return false;
    });

    dropZone.on('dragover dragenter', function() {
        dropZone.addClass('dragover');
    });

    dropZone.on('dragleave', function(e) {
        let dx = e.pageX - dropZone.offset().left;
        let dy = e.pageY - dropZone.offset().top;
        if ((dx < 0) || (dx > dropZone.width()) || (dy < 0) || (dy > dropZone.height())) {
            dropZone.removeClass('dragover');
        }
    });

    dropZone.on('drop', function(e) {
        dropZone.removeClass('dragover');
        let files = e.originalEvent.dataTransfer.files;
        let access_token = localStorage.getItem('token');
        sendFiles(files, access_token);
    });

    $('#file-input').change(function() {
        let files = this.files;
        let access_token = localStorage.getItem('token');
        sendFiles(files, access_token);
    });


    function sendFiles(files, token) {
        let maxFileSize = 5242880;
        let Data = new FormData();
        $(files).each(function(index, file) {
            if ((file.size <= maxFileSize) && ((file.type == 'image/png') || (file.type == 'image/jpeg'))) {
                Data.append('upload_image', file);
            } else {
                alert("It is not *png or *jpeg");
            };
            Data.append('token', token)
        });

        $.ajax({
            url: dropZone.attr('action'),
            type: dropZone.attr('method'),
            data: Data,
            contentType: false,
            processData: false,
            success: function(data) {
                window.location.href = '/';
            }
        });
    }
})
</script>
</body>
</html>